table tr th, table tr td {
padding: 0.2rem 0.625rem !important; 
font-size: 0.875rem;
color: #222;
text-align: left;
}

body{

	background-color: #ddd;
}

.top{
	margin-top: 10px !important;
}

.competition {
	max-width: 80rem; 
	
}




.sidebar
{
	background: #fafafa;
	padding: 32px 20px;

}

.white{
	background: white;
}

.no-bottom-margin{
	 margin-bottom: 0px !important; 
}

.settings-modal{

	padding: 0rem 0rem !important;
	height: 450px;
}

.settings-modal div{

	height: 100%;
}



.settings-modal .content{

		padding-top: 10px !important;
		height: initial;
}

.settings-modal .content div{

		
		height: initial;
}

.settings-modal .tabs{
	padding-top: 0px;
	height: 100%;
	background: #e1e1e1;
}

.settings-modal .tabs-content{
	padding-bottom: 20px;
	padding-right: 40px;
}

.settings-modal .tabs dd{
border-bottom: 1px #999999 solid;
}


/* Default header styles */
h1, h2, h3, h4, h5, h6 {
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
	font-weight: normal;
	font-style: normal;
	color: #222222;
	text-rendering: optimizeLegibility;
	margin-top: 0.2rem;
	margin-bottom: 0.5rem;
	line-height: 1.4; 
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
	font-size: 60%;
	color: #6f6f6f;
	line-height: 0; 
}

h1 {
	font-size: 1.88889rem; 
}

h2 {
	font-size: 1.5rem; 
}

h3 {
	font-size: 1.22222rem; 
}

h4 {
	font-size: 1.0rem; 
}

h5 {
	font-size: 1rem; 
}

h6 {
	font-size: 1rem;
}

.subheader {
	line-height: 1.4;
	color: #6f6f6f;
	font-weight: normal;
	margin-top: 0.2rem;
	margin-bottom: 0.5rem;
}

hr {
	border: solid #dddddd;
	border-width: 1px 0 0;
	clear: both;
	margin: 1.11111rem 0 1.05556rem;
	height: 0;
}


h1 {
	margin-top: 20px;
}

.fencer-modal-button{
	line-height: 2.355rem !important;
}


@media only screen and (min-width: 40.063em) {
	h1, h2, h3, h4, h5, h6 {
		line-height: 1.4; 
	}

	h1 {
		font-size: 2.44444rem; 
	}

	h2 {
		font-size: 2.05556rem; 
	}

	h3 {
		font-size: 1.5rem; 
	}

	h4 {
		font-size: 1.27778rem; 
	}

	h5 {
		font-size: 1rem; 
	}

	h6 {
		font-size: 1rem; } 
	}