<h3>Add a new instance</h3>

<a class="close-reveal-modal" ng-click="cancel()">&#215;</a>

<div class="row" ng-model="instance">
    <form novalidate name="instanceForm" ng-submit="ok(instanceForm)">

        <div class="large-12 columns" ng-class="{error: instanceForm.effectiveDate.$dirty && instanceForm.effectiveDate.$error.required}">

            <label ng-class="{error: instanceForm.effectiveDate.$dirty && instanceForm.effectiveDate.$error.required}">Date</label>
            <input type="date" ng-model="instance.date" name="effectiveDate" required>

            <small ng-show="instanceForm.effectiveDate.$dirty && instanceForm.effectiveDate.$error.required" class="error">This field is required</small>
            <small class="error" ng-show="myinstanceForm.effectiveDate.$error.date">Not a valid date!</small>         
        </div>

        <div class="large-12 columns" ng-class="{error: instanceForm.$submitted && instanceForm.season.$invalid}">

            <label ng-class="{error: instanceForm.$submitted && instanceForm.season.$invalid}">Season</label>
            <select ng-options="season.id as season.displayName() for season in seasons | orderBy:'startYear'" ng-model="instance.season" name="season" required>
                <option value="" ng-hide="true">Please Choose<option>
            </select>  

            <small ng-show="instanceForm.$submitted && instanceForm.season.$invalid" class="error">This field is required</small>
        </div>

        <div class="large-12 columns" ng-class="{error: instanceForm.$submitted  && instanceForm.tier.$invalid}">

            <label ng-class="{error: instanceForm.$submitted && instanceForm.tier.$invalid}">Tier</label>
            <select ng-options="tier.id as tier.name for tier in tiers | orderBy: 'name'" ng-model="instance.tier" name="tier" required>
                <option value="" ng-hide="true">Please Choose<option>
            </select>

            <small ng-show="instanceForm.$submitted &&  instanceForm.tier.$invalid" class="error">This field is required</small>
        </div>

        <div class="large-12 columns">
            <div class="large-4 medium-4 columns">
                <button ng-click="cancel()" type="button" class="button prefix alert">Cancel</button>
            </div>
            <div class="large-4 medium-4 columns">
                <input type="submit" class="button prefix success" />
            </div>
        </div>

    </form>


</div>
