<h3>Add a new instance</h3>

<a class="close-reveal-modal" ng-click="cancel()">&#215;</a>

<div class="row" ng-model="fencer">
    <form novalidate ng-submit="ok()">
        <div class="large-12 columns" ng-class="{error: submitted == true && firstNameIsNotValid()}">
            <label>Date</label>
            <input type="text" placeholder="yyyy/mm/dd" ng-model="instance.date" required>
            <small ng-show="submitted == true && firstNameIsNotValid()" class="error">Required</small>
        </div>
        
                <div class="large-12 columns" ng-class="{error: submitted == true && genderIsNotValid()}">
            <label>Season</label>
            <select ng-options="season.displayName() for season in seasons | orderBy:'startYear'" ng-model="selectedSeason">
                <option value="" ng-hide="true">Please Choose
                    <option>
            </select>
            <small ng-show="submitted == true && genderIsNotValid()" class="error">Required</small>
        </div>

        <div class="large-12 columns">
            <div class="large-4 medium-4 columns" ng-class="{error: submitted == true && fencer.club == ''}">
                <button ng-click="cancel()" type="button" class="button prefix alert">Cancel</button>
            </div>
            <div class="large-4 medium-4 columns">
                <input type="submit" class="button prefix success" />
            </div>
        </div>
    </form>


</div>
