<!DOCTYPE html>
<html>

<head>
    <title>IFFRankings</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/foundation.min.css">
    <link rel="stylesheet" type="text/css" href="js/vendor/font-awesome/css/font-awesome.min.css">
</head>

<body class="white" ng-app="RankingsApp">
    <div class="main-page">
        <div class="off-canvas-wrap">
            <div class="inner-wrap" ng-controller="NavigationBarController">

                <top-bar is-hover="false">

                <ul class="title-area">
                    <li class="name">
                        <h1><a href="#">Rankings App</a></h1>
                    </li>
                    <li toggle-top-bar class="menu-icon"><a href="#">Menu</a>
                    </li>
                </ul>

                <top-bar-section>
                <ul class="left">
                    <li has-dropdown><a class="left-off-canvas-toggle"> Competitions</a>
                    </li>
                    <li><a href="#/rankings">Rankings</a>
                    </li>
                    <li><a href="#/fencers">Fencers</a>
                    </li> 

                </ul>
                <ul class="right">
                  <li>
                      <select style='margin: 4px 0' ng-model="selectedWeapon" ng-options="weapon.code as weapon.displayName for weapon in weaponCatagories" ng-change="changedValue(selectedWeapon)"></select>
                  </li>
                  <li>
                    <settings-modal><i class="fa fa-inverse fa-cogs fa-lg fa-2x"></i>
                </settings-modal>
            </li> 

        </ul>


    </top-bar-section>


</top-bar>

<aside class="left-off-canvas-menu" >
    <ul class="off-canvas-list">
        <li ng-repeat="comp in competitions | orderBy: 'name'"><a href="#/competition/{{comp.id}}">{{comp.name}}</a>
        </li>
    </ul>
</aside>


<div class="white" ng-view="">
</div>



<a class="exit-off-canvas"></a>
</div>
</div>
</div>










<script src="js/vendor/angular/angular.js"></script>
<script src="js/vendor/angular-route/angular-route.min.js"></script>
<script src="js/vendor/angular-resource/angular-resource.min.js"></script>
<script src="js/vendor/lodash/lodash.min.js"></script>
<script src="js/vendor/angular-foundation/mm-foundation-tpls.js"></script>
<script src="js/vendor/restangular/dist/restangular.js"></script>




<script src="app.js"></script>
<script src="js/services/extenderService.js"></script>
<script src="js/services/fencerService.js"></script>
<script src="js/services/competitionService.js"></script>
<script src="js/services/resultService.js"></script>
<script src="js/services/seasonService.js"></script>
<script src="js/services/tierService.js"></script>
<script src="js/services/instanceService.js"></script>
<script src="js/services/resultsCalculator.js"></script>
<script src="js/services/categoriesService.js"></script>


<script src="js/controllers/competitionCtrl.js"></script>
<script src="js/controllers/navCtrl.js"></script>
<script src="js/controllers/fencerCtrl.js"></script>
<script src="js/controllers/rankingCtrl.js"></script>



<script src="js/directives/fencerModal/fencerModalDirective.js"></script>
<script src="js/directives/fencerModal/controllers/fencerModalCtrl.js"></script>

<script src="js/directives/settingsModal/settingsModalDirective.js"></script>
<script src="js/directives/settingsModal/controllers/settingsModalController.js"></script>

<script src="js/directives/instanceModal/InstanceModalDirective.js"></script>
<script src="js/directives/instanceModal/controllers/instanceModalController.js"></script>

<script src="js/directives/fileReader/fileReaderDirective.js"></script>

<script src="js/directives/datepickerDirective/datepickerDirective.js"></script>

<script src="js/directives/focusInputDirective/focusInputDirective.js"></script>



</body>

</html>
