<div class="row">
    <h2 class="title-bar">Rankings</h2>

    <table ng-show="rankingsComplete">
        <thead>
            <tr>
                <td>Rank</td>
                <td>Fencer</td>
                <td>Points</td>
                <td ng-repeat="comp in competitions | orderBy: 'Instance().date'">{{comp.shortName}}</td>
            </tr>
        </thead>
        <tbody>
        	<tr ng-repeat="ranking in rankings | orderBy: 'points' : 'desc'">
                <td>x</td>
                <td>{{ranking.fencer}}</td>
                <td>{{ranking.points}}</td>
                <td ng-repeat="comp in competitions | orderBy: 'Instance().date'">
                 <span>{{ranking[comp.Instance().id]}}</span>
                 <span ng-show="!ranking[comp.Instance().id]">-</span>

                </td>
            </tr>
        </tbody>
    </table>
    <hr>
</div>
