<div class="settings-row row ">

    <tabset vertical="true" type="navType">
        <tab heading="Competitions">
            <section>
                <h4 style="padding-top:7px;">Competitions</h4>
                <hr>
                <div class="row">

                    <table style="width: 100%">
                        <thead>
                            <tr>
                                <th>
                                    Compentition Name
                                </th>
                                <th>
                                    Compentition ShortCode
                                </th>
                                <th>
                                    Compentition Edit
                                </th>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="competition in competitions | orderBy: name">
                                <td>
                                    <p ng-hide="competition.editable">{{competition.name}}</p>
                                     <input ng-if="competition.editable"  ng-model="updateForm.name" form="editCompetitionForm" placeholder="Competition Name" class="form-control no-bottom-margin" type="text" focus="{{updateIsFocused}}" ng-blur="updateOnBlur()" />
                                </td>
                                <td width="20%">
                                    <p ng-hide="competition.editable">{{competition.shortName}}</p>
                                     <input ng-if="competition.editable" form="editCompetitionForm" ng-model="updateForm.shortName" placeholder="ShortCode" class="form-control no-bottom-margin" type="text" />
                                </td>
                                <td>
                                    <button ng-hide="competition.editable" class="no-bottom-margin button tiny radius" ng-disabled="tableInEditState" ng-click="setEditable(competition)">Edit
                                    </button>

                                    <form ng-if="competition.editable" id="editCompetitionForm" novalidate name="editCompetitionForm" ng-submit="updateCompetition(updateForm, competition)"></form>
                                    <input ng-if="competition.editable" form="editCompetitionForm" type="submit" value="Save" class="button tiny no-bottom-margin radius" />
                                    <button ng-if="competition.editable" class="button alert tiny no-bottom-margin radius" ng-click="cancelEditable(competition)">Cancel
                                    </button>

                                </td>

                            </tr>
                            <tr ng-if="!tableInEditState">
                                <td>
                                    <input ng-model="form.name" form="addNewCompetition" placeholder="Competition Name" class="form-control no-bottom-margin" type="text" focus="{{isFocused}}" ng-blur="onBlur()" />
                                </td>
                                <td>
                                    <input form="addNewCompetition" ng-model="form.shortName" placeholder="ShortCode" class="form-control no-bottom-margin" type="text" />
                                </td>
                                <td>
                                    <form id="addNewCompetition" novalidate name="competitionForm" ng-submit="addCompetition(competitionForm)"></form>

                                    <input form="addNewCompetition" class="button tiny no-bottom-margin radius" type="submit" value="Save" />
                                    </button>
                                </td>

                            </tr>
                        </tbody>
                    </table>

                </div>
            </section>
        </tab>
        <tab heading="Seasons">
            <section>
                <h4 style="padding-top:7px;">Seasons</h4>
                <hr>
                <div class="row">

                </div>
            </section>
        </tab>

    </tabset>




</div>
